# Executables
exe/*
*.exe
*.out
*.app

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
*.tmp.f90

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Python files
*.pyc
__pycache__

# intermediate build files
src/MAIN_NEMS.tmp.f90
src/ESMFVersionDefine.h
src/conf/configure.nems
src/conf/configure.nems.NUOPC
src/conf/externals.nems
src/conf/modules.nems
src/conf/modules.nems.csh
src/conf/modules.nems.sh
src/conf/test-results.mk

# unknown
metis

# documentation
/doc/html/
/doc/webpage.tar.gz
/doc/Doxyfile

# Editor
.idea/
.vscode/
.project
